:root{
    --bg: #1daefc;
    --texto: #ededed; 
}
*{
    margin: 0;
    padding: 0px;
}
body{
    background-color: var(--bg);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}
header > .logo > img{
    width: 100px;
}